<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pie Overview | Bethany's Pie Shop</title>
    <meta name="author" content="Bethany's Pie Shop">
    <meta name="description" content="Bethany's Pie Shop Store Front">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../styles/site.css" type="text/css">
    <link rel="stylesheet" href="../styles/pieoverview.css" type="text/css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
    <header id="main-header">
        <nav>
            <ul>
                <li><a href="/"><img src="../images/cake.svg" alt="Cake icon" width="32" /></a></li>
                <li><a href="/">Home</a></li>
                <li><a href="pieoverview.html">All Pies</a></li>
            </ul>
        </nav>
    </header>

    <div id="main-content">
        <aside id="main-leftside">
            <a href="/"><img src="../images/bethanylogo.png" alt="Bethanys pie shop logo"></a>
            <header>
                <h4>Browse our pies</h4>
            </header>
            <ul>
                <li><a href="pieoverview.html">All Pies</a></li>
            </ul>
            <input type="search" class="searchbox" placeholder="Search our store">
        </aside>
        <main id="main-rightside">
            <table>
                <caption>
                    Our delicious selection of pies for you to enjoy.
                </caption>
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Pie name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="../images/products/applepiesmall.jpg" alt="Apple pie" /></td>
                        <td>Apple pie</td>
                        <td>Our famous apple pie</td>
                        <td>$14.95</td>
                        <td><a href="applepieview.html">View details</a></td>
                    </tr>
                    <tr>
                        <td><img src="../images/products/cranberrypiesmall.jpg" alt="Cranberry pie" /></td>
                        <td>Cranberry pie</td>
                        <td>A Christmas favorite</td>
                        <td>$18.95</td>
                        <td>View details</td>
                    </tr>
                    <tr>
                        <td><img src="../images/products/cherrypiesmall.jpg" alt="Cherry pie" /></td>
                        <td>Cherry pie</td>
                        <td>A summer classic!</td>
                        <td>$18.95</td>
                        <td>View details</td>
                    </tr>
                    <tr>
                        <td><img src="../images/products/peachpiesmall.jpg" alt="Peach pie" /></td>
                        <td>Peach pie</td>
                        <td>Sweet as peach</td>
                        <td>$18.95</td>
                        <td>View details</td>
                    </tr>
                    <tr>
                        <td><img src="../images/products/pumpkinpiesmall.jpg" alt="Pumpkin pie" /></td>
                        <td>Pumpkin pie</td>
                        <td>Our Halloween favorite</td>
                        <td>$18.95</td>
                        <td>View details</td>
                    </tr>
                    <tr>
                        <td><img src="../images/products/christmasapplepiesmall.jpg" alt="Christmas apple pie" /></td>
                        <td>Christmas apple pie</td>
                        <td>Happy holidays with this pie!</td>
                        <td>$19.95</td>
                        <td>View details</td>
                    </tr>
                    <tr>
                        <td><img src="../images/products/blueberrycheesecakesmall.jpg" alt="Blueberry cheese cake" />
                        </td>
                        <td>Blueberry cheese cake</td>
                        <td>You'll love it!</td>
                        <td>$17.95</td>
                        <td>View details</td>
                    </tr>
                    <tr>
                        <td><img src="../images/products/rhubarbpiesmall.jpg" alt="Rhubarb pie" /></td>
                        <td>Rhubarb Pie</td>
                        <td>My God, so sweet!</td>
                        <td>$21.95</td>
                        <td>View details</td>
                    </tr>
                    <tr>
                        <td><img src="../images/products/strawberrypiesmall.jpg" alt="Strawberry pie" /></td>
                        <td>Strawberry Pie</td>
                        <td>Our delicious strawberry pie!</td>
                        <td>$18.95</td>
                        <td>View details</td>
                    </tr>
                    <tr>
                        <td><img src="../images/products/strawberrycheesecakesmall.jpg" alt="Strawberry cheese cake" />
                        </td>
                        <td>Strawberry Cheese Cake</td>
                        <td>One of the best cheese cakes you'll ever find!</td>
                        <td>$18.95</td>
                        <td>View details</td>
                    </tr>
                </tbody>
            </table>
        </main>
        <footer>
            <p>Our address is
            <address>Bethany's Pie Shop - Bakery Street 555 Brussels Belgium</address>
            </p>
            <p>Contact us via <a href="mailto:info@bethanyspieshop">email</a></p>
            <small> Copyright &copy;
                <script>document.write(new Date().getFullYear())</script> Bethany's Pie Shop. All rights reserved.
            </small>
        </footer>
    </div>

</body>

</html>