<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bethany's Pie Shop</title>
    <meta name="author" content="Bethany's Pie Shop">
    <meta name="description" content="Bethany's Pie Shop Store Front">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../styles/site.css" type="text/css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
    <header id="main-header">
        <nav>
            <ul>
                <li><a href="/"><img src="../images/cake.svg" alt="Cake icon" width="32" /></a></li>
                <li><a href="/">Home</a></li>
                <li><a href="pieoverview.html">All Pies</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <div id="main-content">
        <aside id="main-leftside">
            <a href="/"><img src="../images/bethanylogo.png" alt="Bethanys pie shop logo"></a>
            <header>
                <h4>Browse our pies</h4>
            </header>
            <ul>
                <li><a href="pieoverview.html">All Pies</a></li>
            </ul>
            <input type="search" class="searchbox" placeholder="Search our store">
        </aside>
        <main id="main-rightside">

        </main>
        <footer>
            <p>Our address is
            <address>Bethany's Pie Shop - Bakery Street 555 Brussels Belgium</address>
            </p>
            <p>Contact us via <a href="mailto:info@bethanyspieshop">email</a></p>
            <small> Copyright &copy;
                <script>document.write(new Date().getFullYear())</script> Bethany's Pie Shop. All rights reserved.
            </small>
        </footer>
    </div>
</body>

</html>